{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Star Wars Survey
{% endblock %}

{% block content %}

<table class="table">
    <tr>
        <th>Offer</th><th>Accept</th><th>Reject</th>
    </tr>
    {% for number in offer_numbers %}
    <tr>
        <td>{{ number }}</td>
        <td><input type="radio" name="offer_{{ number }}" value="True" required></td>
        <td><input type="radio" name="offer_{{ number }}" value="False" required></td>
    </tr>
    {% endfor %}
</table>

    {% next_button %}

{% endblock %}
